extends ../layout

block content
  .container.mt-3 
    .row 
      .col 
        +card-basic({
          header: 'header',
          content: '<b>test</b>',
        })

block js
  script(src="/javascripts/TuVung/index.js") 
