extends ../layout


block content
  .container.mt-3 
    .row 
      - var menu = [{header: "Tạo sơ đồ flowchart", href: "/tu-vung/flowchart" },{ header: "Chi tiết", href: "/tu-vung/chi-tiet" }]
      - for(var i = 0; i < menu.length; i++)
        .col
          +card-basic({
            header: menu[i].header,
            content: `<a href="${menu[i].href}">${menu[i].header}</a>`,
          })

block js
  script(src="/javascripts/TuVung/index.js") 
