extends ../layout

block content
  .container.my-3
    .row 
      .col-2 
        .row 
          .col-12 
            input.form-control.form-control-sm#txtDanhSach(type="text" name="txtDS")
      .col-10 
        .row 
          label.col-2.col-form-label Chú thích
          .col-10 
            span.badge.rounded-pill.text-bg-success.mx-1 Dữ liệu lấy từ Notion
            span.badge.rounded-pill.text-bg-secondary.mx-1 Dữ liệu nhập liệu
            span.badge.rounded-pill.text-bg-light.mx-1 Dữ liệu lấy từ Mazzi
        .row
          .col-12 
            input.form-control.form-control-sm#txtTimKiem(type="text" name="txtTimKiem" placeholder="Nhập chữ hán" value=name data-id=id)
        .row.mt-1
          .col-6 
            button.btn.btn-sm.btn-primary.w-100#btnTimKiem Tìm kiếm
          .col-6 
            button.btn.btn-sm.btn-success.w-100.disable#btnLuu Lưu
        .row.mt-1
          label.col-2.col-form-label Từ
          .col-4
            input.form-control.form-control-sm#txtName(type="text" name="txtName" disabled="true")
          .col-6
            p 
              a.link-success.link-offset-2.link-underline-opacity-25.link-underline-opacity-100-hover.d-none#link(href="#" target="_blank")= name
        .row.mt-1
          label.col-2.col-form-label Cấp độ
          .col-10
            select.form-control.form-control-sm#slCapDo(name="slCapDo" data-type="#boxCapDo")
              option(value="test" data-id="test" data-name="test") test
        .row.mt-1
          .col-10.offset-2
            #boxCapDo 
                span.badge.rounded-pill.text-bg-success.mx-1(data-id="test" data-name="test") test
        .row.mt-1
          label.col-2.col-form-label Giáo trình
          .col-10
            .row#boxSLGiaoTrinh
              select.col.form-control.form-control-sm.mx-2#slChuDe0(name="slChuDe0" data-type="#boxGiaoTrinh" data-i="0" data-check="1")
                option(value="test" data-id="test" data-name="test") test
        .row.mt-1 
          .col-10.offset-2
            #boxGiaoTrinh
                span.badge.rounded-pill.text-bg-success.mx-1(data-id="test" data-name="test") test
        .row.mt-1
          label.col-2.col-form-label Hán Việt
          .col-5
            input.form-control.form-control-sm#txtHanViet(type="text" name="txtHanViet")
          .col-5 
            button.btn.btn-light.btn-sm.w-100.disabled.mazzi#btnHanViet(data-val="test" data-type="txtHanViet") _
        .row.mt-1
          label.col-2.col-form-label Nghĩa
          .col-10
            input.form-control.form-control-sm#txtNghia(type="text" name="txtNghia")
        .row.mt-1
          .col-10.offset-2 
            button.btn.btn-light.btn-sm.w-100.disabled.mazzi#btnNghia(data-val="test" data-type="txtNghia") _
        .row.mt-1
          label.col-2.col-form-label Âm KUN
          .col-10
            #boxKUN
                span.badge.rounded-pill.text-bg-success.mx-1(data-id="test" data-name="test") test
        .row.mt-1
          label.col-2.col-form-label Âm ON
          .col-10
            #boxON
                span.badge.rounded-pill.text-bg-success.mx-1(data-id="test" data-name="test") test
        .row.mt-1
          label.col-2.col-form-label Âm khác
          .col-10
            #boxKhac
                span.badge.rounded-pill.text-bg-success.mx-1(data-id="test" data-name="test") test
        .row.mt-1
          label.col-2.col-form-label Là bộ thủ
          .col-10
            #boxLaBoThu
                span.badge.rounded-pill.text-bg-success.mx-1(data-id="test" data-name="test") test
        .row.mt-1
          label.col-2.col-form-label Có bộ thủ
          .col-10
            input.form-control.form-control-sm#txtCoBoThu(type="text" name="txtCoBoThu")
        .row.mt-1
          .col-10.offset-2
            #boxCoBoThu
              span.badge.rounded-pill.text-bg-success.mx-1(data-id="test" data-name="test") test
        .row.mt-1
          label.col-2.col-form-label Số nét
          .col-5
            input.form-control.form-control-sm#txtSoNet(type="text" name="txtSoNet")
          .col-5 
            button.btn.btn-light.btn-sm.w-100.disabled.mazzi#btnSoNet(data-val="test" data-type="txtSoNet") _
        .row.mt-1
          label.col-2.col-form-label Chủ đề
          .col-10
            select.form-control.form-control-sm#slChuDe(name="slChuDe" data-type="#boxChuDe")
              option(value="test" data-id="test" data-name="test") test
        .row.mt-1 
          .col-10.offset-2
            #boxChuDe
                span.badge.rounded-pill.text-bg-success.mx-1(data-id="test" data-name="test") test
        .row.mt-1
          label.col-2.col-form-label Lục thư
          .col-10
            select.form-control.form-control-sm#slLucThu(name="slLucThu" data-type="#boxLucThu")
              option(value="test" data-id="test" data-name="test") test
        .row.mt-1
          .col-10.offset-2
            #boxLucThu
                span.badge.rounded-pill.text-bg-success.mx-1(data-id="test" data-name="test") test

block js
  script(src="/javascripts/HanTu/Detail.js") 
