extends ../layout

block content
  .container.my-3
    .row 
      .col-2
        +button({
          link: "true",
          href: "/han-tu?id=0ad529a187b44131acda7613e83caf08",
          class: 'btn-link',
          id: "btnTestLink_HanTu",
          content: 'Đi đến trang chi tiết 倍'
        })
    .row 
      .col 
        // Button trigger modal
        button.btn.btn-primary#btnShowModal(type='button' data-bs-toggle='modal' data-bs-target='#modalTuVung')
          | Launch demo modal
        include ../TuVung/DetailModal.pug

block js
  script(src="/javascripts/HanTu/index.js") 
